/* error page css  */
#error-page{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#error-page .error-content{
    z-index: 1;
}
#error-page h3{
    font-size: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: -9999999;
    opacity: 0.03;
    text-align: center;
}
/* carousal csss  */
#carouselExampleDark {
    height: 500px;
}
#carouselExampleDark .carousel-caption{
    z-index: 10;
}
#carouselExampleDark .carousel-inner{
    height:100%; 
    width:100%;
}
#carouselExampleDark img{
    max-height:100%; 
    max-width:100%;

}